*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: black;
}

.webgl{
    position: absolute;
    right: 0;
}

.player-gear {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-column-gap: 0;
    grid-row-gap: 0;
    position: absolute;
    pointer-events: none;
    right:0;
}

.player-gear .equipped-gear{


    background-color: white;
    width: 100px;
    height: 100px;
    margin: 110px 200px;
    pointer-events: auto;
}

.inventory{
    position: absolute;
    margin: 100px 0 0 140px;
    top: 50px;
}

.inventory .inv-info{
    width: fit-content;
    margin: 0 auto;
    color: white;
}

.inventory .inv-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.inventory .inv-items .item{
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 10px 10px;

}

.character-selector{
    margin-bottom: 50px;
    position: absolute;
    left: 280px;
    top: 50px;
}

.character-selector button{
    width: 200px;
    height: 70px;
    border: none;
}

.character-selector button:hover{
    background-color: aqua;
}

.div-hrat{
    position: absolute;
    top: 880px;
    left: 370px;
}

.div-hrat a button{
    width: 200px;
    height: 70px;
}

.gear{
    width: 100%;
    height: 100%;
}